In [1]:
import sqlite3
import pandas as pd

In [2]:
df = pd.read_excel('./data/Row Material Sample Data.xlsx')
df.head()

,Report Time,Product Name,Sub Product,RegionName,MarketName,TermName,Value,Unit
0,2023-04-28,Woven Yarn,10/1 Carded,Asia,Pakistan,CNF,2.70,USD/Kg
1,2023-04-27,Woven Yarn,10/1 Carded,Asia,Pakistan,CNF,2.70,USD/Kg
2,2023-04-26,Woven Yarn,10/1 Carded,Asia,Pakistan,CNF,2.71,USD/Kg
3,2023-04-25,Woven Yarn,10/1 Carded,Asia,Pakistan,CNF,2.73,USD/Kg
4,2023-04-24,Woven Yarn,10/1 Carded,Asia,Pakistan,CNF,2.72,USD/Kg

In [5]:
df.dtypes

Report Time     datetime64[ns]
Product Name            object
Sub Product             object
RegionName              object
MarketName              object
TermName                object
Value                  float64
Unit                    object
dtype: object

In [6]:
# Connect to or create the database
conn = sqlite3.connect('./data/tab_db.db')

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

In [7]:
table_name = 'tabular_data'

# Load data from DataFrame to SQLite table
df.to_sql(table_name, conn, if_exists='append', index=False)

# Commit the changes to the database
conn.commit()